@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Shadows Into Light Two', cursive;
    color: var(--clr-primary);
}

h2{
    font-family: 'Prata', serif;
    color: var(--clr-base-light);
}

h4{
    font-family: 'Prata', serif;
    color: var(--clr-base-dark);
}

h6{
    font-family: 'Open Sans', sans-serif;
}

li{
    font-family: 'Open Sans', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}